.removeDiv{
	  display:inline-block;
	  background:#18740c;
	  color:#fff;
	  margin:2px;
	  font-size:12px;
	  padding:3px 10px;
	}
.remove_target{ padding-left: 10px; cursor: pointer;}	
#targetLocLog{
  display:inline-block;
}
.skillBox{
  width:auto;
  border:none !important;
  padding:0px
}

/*=== autocomplete===*/
.ui-autocomplete {position: absolute;top: 0;left: 0;cursor: default; margin: 0; padding: 0;}
.ui-widget-content {border: 1px solid #aaaaaa;background: #fff;color: #222222; padding: 5px; clear: both;}
.ui-widget-content a {	color: #222222;}
.ui-widget-header {border: 1px solid #aaaaaa;background: #cccccc;color: #222222;font-weight: normal;}
.ui-widget-header a {color: #222222;}
.ui-widget-content li{ margin: 0;padding: 2px 10px; list-style: none;}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {color: #555555;text-decoration: none;}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {border: 0px solid #999999;background:#18740c;font-weight: normal;color: #fff;}

.formOption .form-control{ height: auto;}
.pageName{
	padding: 10px;
	border: 1px solid #ebccd1;
	background: #f2dede;
	color: #333;
	margin-bottom: 20px;
}
.pageName strong{
	margin-left: 5px;
}

.listDiv{
          padding: 10px;
          border: 1px solid #ddd;
          background: #fff;
}
.listDiv .company_list,.listDiv .picDiv{
	padding: 10px;
	margin: 0 0 10px 0;
	background: #fcf8e3;
	border: 1px solid #faebcc;
	color: #bf4346;
}
.listDiv .company_list.selected,.listDiv .sort_sub_class.sort_sub_selected .picDiv {
    background: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #bf4346;
}
.ui-sortable-helper .picDiv{
	background: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #3c763d;
}
.listDiv img{
	margin-right: 10px;
	border: 1px solid #faebcc;
}

.scrollDiv{
	height: 318px;
	overflow: auto;
}
.switch_div{
	height: 340px;
    margin-top: 40px;
}
.swichDivPan {
    position: relative;
    top: 50%;
    transform: translate(0px, -50%);
    -webkit-transform: translate(0px, -50%);
    -moz-transform: translate(0px, -50%);
    -o-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    vertical-align: middle;
}
.swichDivPan span{
	background: #7a7a7a ;
    border: 1px solid #707070;
    clear: both;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 10px;
    padding: 10px 20px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
.swichDivPan span:hover{
	background: #e74c3c;
	border-color:#C83322;
}
.sort_sub_class{
	cursor: pointer;
}
.itemImgDiv .image_order {
    color: #245269;
    font-weight: 600;
    margin: 0 0 0 10px;
}